In [16]:
import tabula
import pandas as pd

In [19]:
file_name = 'TipTop_1'
DataFrame = tabula.read_pdf(file_name+'.pdf')
DataFrame.head()

,Material Description,Mat No,Prior Wk,Mon 20,Tue 21,Wed 22,Thu 23,Fri 24 Sat 25,Unnamed: 8,Sun 26,Net Qty,Gross,Terms Prom,Net Price,Ext Value,Unnamed: 15,GST,Unnamed: 17,GST inc Price
0,NaN,NaN,DelRet,DelRet,DelRet,DelRet,DelRet,DelRet DelRet,Del,Ret,NaN,Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SUNBLEST BREAD WHOLEMEAL,154,NaN,4 4,NaN,4 3,NaN,4 2 4,NaN,NaN,7.0,3.4800,0.3480 0.0000,3.132,NaN,21.92,NaN,0.0,21.92
2,SANDWICH 650G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SUNBLEST BREAD WHITE SANDWICH,227,NaN,4 5,NaN,4 3,NaN,4 4 4,NaN,NaN,4.0,3.4800,0.3480 0.0000,3.132,NaN,12.53,NaN,0.0,12.53
4,650G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
DataFrame.to_csv(file_name+'.csv',index=None,header=True)