In [2]:
from tabula import read_pdf
import pandas as pd

In [4]:
filename = 'INV00033889'
df = read_pdf(filename+'.pdf')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,(02) 9635 7033,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,Total
1,QTY,Item Code,Description,Unit Price,Discount,(inc-GST)
2,NaN,NaN,NaN,(inc-GST),NaN,NaN
3,1,9310704909723,Bond St Blue 20/200,229.67,NaN,$229.67
4,1,9310704909990,Bond St Blue 25/200,225.27,NaN,$225.27
5,1,9310797281232,B&H Smooth 30/180,239.99,NaN,$239.99
6,1,9310704910385,Choice Signature Classic20/200,199.24,NaN,$199.24
7,1,9310797282772,Dunhill Premier Red 23/184,259.25,NaN,$259.25
8,1,9310797282796,Dunhill Refined Grey 23/184,259.25,NaN,$259.25
9,3,793579740841,Euro Red 20/200,186.50,NaN,$559.50
10,3,793579740858,Euro Blue 20/200,186.50,NaN,$559.50
11,1,793579740865,Euro Gold 20/200,186.50,NaN,$186.50
12,1,9327329004955,JPS Red 20/200,237.55,NaN,$237.55
13,1,9327329004962,JPS Blue 20/200,237.55,NaN,$237.55
14,1,9327329004948,JPS Gold 20/200,237.55,NaN,$237.55
15,1,9327329004917,JPS Superkings Gold 20/200,244.86,NaN,$244.86
16,1,5000432001731,JPS Superkings Menthol 20/200,244.86,NaN,$244.86
17,1,9327329003897,JPS Blue 26/208,238.90,NaN,$238.90
18,1,9327329010161,JPS Blue 40/160,182.26,NaN,$182.26
19,1,9310797281010,Rothmans Red 20/200,231.49,NaN,$231.49
20,1,9310797281034,Rothmans Blue 20/200,231.49,NaN,$231.49
21,1,9310797280440,Rothmans Red 25/200,233.21,NaN,$233.21
22,1,9310797280488,Rothmans Gold 25/200,233.21,NaN,$233.21
23,3,6901028153683,TS Red 20/200,186.50,NaN,$559.50
24,2,6901028153294,TS Blue 20/200,186.50,NaN,$373.00
25,1 9310797279352,Winfield Optimum Blue 20/200,NaN,258.80,NaN,$258.80
26,2 9310797258524,Winfield Optimum Crush Blue 25,NaN,244.07,NaN,$488.14
27,1 9310797283052,Winfield Optimum Crush Blue 30,NaN,218.89,NaN,$218.89
28,Total Quantity Units,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,Subtotal inc GST:,NaN
30,Salesperso,NaN,NaN,NaN,Freight (inc-GST):,NaN
31,Cn:omment: Cheques payable to : CTC Ingleburn,NaN,NaN,NaN,GST:,NaN

In [6]:
table_df=df[3:25]
table_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,(02) 9635 7033,Unnamed: 4,Unnamed: 5
3,1,9310704909723,Bond St Blue 20/200,229.67,NaN,$229.67
4,1,9310704909990,Bond St Blue 25/200,225.27,NaN,$225.27
5,1,9310797281232,B&H Smooth 30/180,239.99,NaN,$239.99
6,1,9310704910385,Choice Signature Classic20/200,199.24,NaN,$199.24
7,1,9310797282772,Dunhill Premier Red 23/184,259.25,NaN,$259.25
8,1,9310797282796,Dunhill Refined Grey 23/184,259.25,NaN,$259.25
9,3,793579740841,Euro Red 20/200,186.50,NaN,$559.50
10,3,793579740858,Euro Blue 20/200,186.50,NaN,$559.50
11,1,793579740865,Euro Gold 20/200,186.50,NaN,$186.50
12,1,9327329004955,JPS Red 20/200,237.55,NaN,$237.55
13,1,9327329004962,JPS Blue 20/200,237.55,NaN,$237.55
14,1,9327329004948,JPS Gold 20/200,237.55,NaN,$237.55
15,1,9327329004917,JPS Superkings Gold 20/200,244.86,NaN,$244.86
16,1,5000432001731,JPS Superkings Menthol 20/200,244.86,NaN,$244.86
17,1,9327329003897,JPS Blue 26/208,238.90,NaN,$238.90
18,1,9327329010161,JPS Blue 40/160,182.26,NaN,$182.26
19,1,9310797281010,Rothmans Red 20/200,231.49,NaN,$231.49
20,1,9310797281034,Rothmans Blue 20/200,231.49,NaN,$231.49
21,1,9310797280440,Rothmans Red 25/200,233.21,NaN,$233.21
22,1,9310797280488,Rothmans Gold 25/200,233.21,NaN,$233.21
23,3,6901028153683,TS Red 20/200,186.50,NaN,$559.50
24,2,6901028153294,TS Blue 20/200,186.50,NaN,$373.00

In [18]:
Qty = []
item_code = []
description = []
unit_price_GST = []
total_GST = []


Qty = table_df['Unnamed: 0'].tolist()
item_code = table_df['Unnamed: 1'].tolist()
description = table_df['Unnamed: 2'].tolist()
unit_price_GST = table_df['(02) 9635 7033'].tolist()
total_GST = table_df['Unnamed: 5'].tolist()


data_dic = {'QTY':Qty,'Item Code':item_code,'Description':description,"Unit Price(inc-GST)":unit_price_GST,
            "Total(inc-GST)":total_GST}

dataframe = pd.DataFrame(data=data_dic)
dataframe.to_csv(filename+'.csv',index=None,header=True)